@import '../../color.scss';

.card {
  display: block;
  min-height: 100px;
  background: $cultured;
  padding: 10px 20px;
  margin: 20px 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  border-top: 20px solid $gray;
}

.pending {
  border-color: $gray;
}

.rejected {
  border-color: $red;
}

.done {
  border-color: $green;
}

.name {
  margin: 0;
  margin-bottom: 10px;
}

.arrhythmias h5 {
  margin: 5px 0;
}

.arrhythmias ul {
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.arrhythmias li {
  margin: 5px 0;
  font-size: 0.8em;
  margin-right: 0.5em;
  padding: 5px 8px;
  background-color: #e0e1ddff;
  border-radius: 2px;
  white-space: nowrap;
}

.date {
  font-size: 0.7em;
}
