@import "../../color.scss";

.container {
  display: block;
  min-width: 200px;
  background: $white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
}

.disabled {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@media screen and (prefers-reduced-motion: reduce) {
  .disabled {
    animation: none;
    animation-iteration-count: 0;
  }
}

.container > ul {
  display: block;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  overflow: auto;

  & > * {
    margin-bottom: 10px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.title {
  color: $white;
  background-color: $black;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 20px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
