.cards-view {
  display: grid;
  grid-template-areas: 'pending rejected done';
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.pending {
  grid-area: pending;
  display: block;
  background-color: gray;
}

.rejected {
  grid-area: rejected;
  display: block;
  background-color: red;
}

.done {
  grid-area: done;
  display: block;
  background-color: green;
}
