@import "../../color.scss";

.cards-view {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr;
  justify-content: space-between;
  grid-gap: 40px;
  grid-template-areas:
    "header . ."
    "pending rejected done";
}

.filter {
  grid-area: header;
}

.pending {
  grid-area: pending;
}

.rejected {
  grid-area: rejected;
}

.done {
  grid-area: done;
}
