@import './color.scss';

body {
  margin: 20px;
  display: flex;
  justify-content: center;
  background: #dee2e6ff;
  color: $rich-black-fogra-29;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:global(#root) {
  height: 100vh;
  width: 100vw;
}
